/* NAVBAR */

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.container {
    margin-right: 0px;
}

.nav-link {
    color: #fff !important;
}

.menu-mobile {
    display: none;
}

.menu-mobile-hamburge {
    display: none;
}

@media only screen and (max-width: 775px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .text-size-menu a {
        font-size: 30px;
        text-align: center;
        background: linear-gradient(to left, rgb(255 0 0) 0%, rgb(255 0 0) 12%, rgb(251 27 27) 47%, rgb(103 5 209) 100%) left bottom #0000 no-repeat;
        background-size: 100% 2px;
    }

    .menu-web {
        display: none;
    }

    .menu-mobile {
        display: none;
        animation-duration: 1s;
        animation-name: slidein;
        margin-right: 0px;
    }

    .menu-bg-size {
        height: 100vh;
        background-color: #000000a8;
    }


    @keyframes slidein {
        from {
            margin-left: 900%;
            width: 10%
        }

        /*     to {
      margin-left: 0%;
      width: 250%;
    } */
    }

    .img-menu {
        height: 50px;
        width: 50px;
    }

    .img-close {
        height: 27px;
        width: 49px;
    }

    .img-menu img,
    .img-close img {
        cursor: pointer;
        height: 100%;
        width: 100%;
    }

    .menu-bg {
        position: absolute;
        background: rgb(5, 5, 5);
        height: 100%;
        width: 50%!important;

    }

    .menu-mobile-hamburge {
        display: block;
    }

    show {
        display: block;
    }

}


@media only screen and (max-width: 426px) {
    
    .menu-bg {
        width: 100%!important;
    }

}