.container-fluid{
    position: fixed;
    height: 100vh;
}

.menu-bol{
    cursor: pointer;
    color: #ffffff75;
}

.menu-bol:focus{
    color: white;
}

.Navbools{
    position: fixed;
    top: 42%;
    left: 95%;
}

.circle1, .circle2, .circle3, .circle4{
    color: rgba(255, 255, 255, 0.527);
    line-height: 75%;
    display: inline-block;
    border: solid 1px black;
    border-radius: 50%;
    
}
.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover{
    color: rgba(255, 255, 255, 0.789);
}
.circle1:focus, .circle2:focus, .circle3:focus, .circle4:focus{
   color: rgb(255, 255, 255);

}
